<div class="inv-helper">
  No primeiro acesso do colaborador no dispotivo móvel, o IMEI será cadastrado. Limpe quando um novo dispositivo for utilizado.
  <a href="#" class="inv-text-link">Saiba mais</a>
</div>
