<div class="inv-form-field {{ formField.modifier }}">
  {{> @label}}

  {{#if icon}}
    {{> @input-icon}}
  {{/if}}

  {{> @input}}

  {{#if input.progress}}
    {{> @input-progress--invalid}}
  {{/if}}

  {{> @form-text}}
</div>
