<div class="inv-form-field {{ formField.modifier }}">
  {{> @label}}

  {{#if icon}}
    {{> @input-icon}}
  {{/if}}

  {{#if input.progress}}
    {{> @input-progress--invalid}}
  {{/if}}

  {{#if addon}}
    {{> @input-addon--progress}}
  {{else}}
    {{> @input}}
  {{/if}}

  {{> @form-text}}
</div>
