<div class="inv-form-field {{ formField.modifier }}">
  {{#if label.show}}
    {{> @label}}
  {{/if}}

  {{#if input-icon.icon}}
    {{> @input-icon}}
  {{/if}}

  {{> @input}}

  {{#if input.progress}}
    {{> @input-progress--invalid}}
  {{/if}}

  {{> @form-text}}
</div>
