:root {
  /* OPACITY */
  --color--black: rgba(0, 0, 0, 0.7);

  /* SYSTEM */
  --color-system--shadow: rgba(29, 46, 68, 0.25);
  --color-system--dark: #10213e;
  --color-system--regular: #85909f;
  --color-system--light: #e5e8eb;
  --color-system--white: #fff;

  /* GLOBAL */

  /* GLOBAL - DEFAULT */
  --color-default--shadow: rgba(104, 119, 140, 0.25);
  --color-default--dark: #68778c;
  --color-default--regular: #9aa9bc;
  --color-default--light: #ccd4dd;
  --color-default--white: #f5f6f8;

  /* GLOBAL - PRIMARY */
  --color-primary--shadow: rgba(68, 108, 162, 0.25);
  --color-primary--dark: #446ca2;
  --color-primary--regular: #5d96e1;
  --color-primary--light: #aecaf0;
  --color-primary--white: #eef4fc;

  /* GLOBAL - ACCENT */
  --color-accent--shadow: rgba(163, 62, 71, 0.25);
  --color-accent--dark: #a33e47;
  --color-accent--regular: #fc4949;
  --color-accent--light: #fda4a4;
  --color-accent--white: #ffecec;

  /* STATUS */

  /* STATUS - ERROR */
  --color-error--shadow: rgba(155, 71, 81, 0.25);
  --color-error--dark: #9b4751;
  --color-error--regular: #ee585a;
  --color-error--light: #f6abac;
  --color-error--white: #fdeeee;

  /* STATUS - ALERT */
  --color-alert--shadow: rgba(155, 142, 81, 0.25);
  --color-alert--dark: #9b8e51;
  --color-alert--regular: #eece5a;
  --color-alert--light: #f6e6ac;
  --color-alert--white: #fdfaee;

  /* STATUS - PROGRESS */
  --color-progress--shadow: rgba(70, 130, 155, 0.25);
  --color-progress--dark: #46829b;
  --color-progress--regular: #60bbd6;
  --color-progress--light: #afddea;
  --color-progress--white: #eff8fb;

  /* STATUS - DONE */
  --color-done--shadow: rgba(58, 146, 97, 0.25);
  --color-done--dark: #3a9261;
  --color-done--regular: #4cd575;
  --color-done--light: #a5eaba;
  --color-done--white: #edfbf1;

  /* STATUS - CANCEL */
  --color-cancel--shadow: rgba(139, 152, 166, 0.25);
  --color-cancel--dark: #8b98a6;
  --color-cancel--regular: #d3e0e7;
  --color-cancel--light: #e9eff3;
  --color-cancel--white: #fbfcfd;

  /* COMPLEMENTARY */

  /* COMPLEMENTARY - PINK */
  --color-pink--shadow: rgba(138, 40, 101, 0.25);
  --color-pink--dark: #8a2865;
  --color-pink--regular: #d2247b;
  --color-pink--light: #e891bd;
  --color-pink--white: #fae9f2;

  /* COMPLEMENTARY - PURPLE */
  --color-purple--shadow: rgba(95, 49, 143, 0.25);
  --color-purple--dark: #5f318f;
  --color-purple--regular: #8b34c1;
  --color-purple--light: #c599e0;
  --color-purple--white: #f3eaf9;

  /* COMPLEMENTARY - INDIGO */
  --color-indigo--shadow: rgba(49, 77, 152, 0.25);
  --color-indigo--dark: #314d98;
  --color-indigo--regular: #3e63d0;
  --color-indigo--light: #9eb1e7;
  --color-indigo--white: #ebeffa;

  /* COMPLEMENTARY - CYAN */
  --color-cyan--shadow: rgba(22, 128, 163, 0.25);
  --color-cyan--dark: #1680a3;
  --color-cyan--regular: #10b8e3;
  --color-cyan--light: #87dbf1;
  --color-cyan--white: #e7f8fc;

  /* COMPLEMENTARY - TEAL */
  --color-teal--shadow: rgba(13, 107, 121, 0.25);
  --color-teal--dark: #0d6b79;
  --color-teal--regular: #02949d;
  --color-teal--light: #80c9ce;
  --color-teal--white: #e5f4f5;

  /* COMPLEMENTARY - GREEN */
  --color-green--shadow: rgba(56, 118, 77, 0.25);
  --color-green--dark: #38764d;
  --color-green--regular: #49a654;
  --color-green--light: #a4d2a9;
  --color-green--white: #ecf6ee;

  /* COMPLEMENTARY - LIME */
  --color-lime--shadow: rgba(121, 143, 75, 0.25);
  --color-lime--dark: #798f4b;
  --color-lime--regular: #b6d150;
  --color-lime--light: #dae8a7;
  --color-lime--white: #f8faed;

  /* COMPLEMENTARY - ORANGE */
  --color-orange--shadow: rgba(151, 108, 35, 0.25);
  --color-orange--dark: #976c23;
  --color-orange--regular: #e8960d;
  --color-orange--light: #f3ca86;
  --color-orange--white: #fdf4e6;

  /* COMPLEMENTARY - AMBAR */
  --color-ambar--shadow: rgba(151, 130, 40, 0.25);
  --color-ambar--dark: #978228;
  --color-ambar--regular: #e8ba15;
  --color-ambar--light: #f3dc8a;
  --color-ambar--white: #fdf8e7;

  /* COMPLEMENTARY - BROWN */
  --color-brown--shadow: rgba(80, 78, 92, 0.25);
  --color-brown--dark: #504e5c;
  --color-brown--regular: #71646c;
  --color-brown--light: #b8b1b5;
  --color-brown--white: #f1eff0;
}
