
.inv-menu-search {
  position: relative;
}

.inv-menu-search__label {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  left: 16px;
  height: 100%;
}

.inv-menu-search__label > i {
  color: var(--color-primary--light);
}

.inv-menu-search > .inv-input {
  width: 24px;
  border-radius: 10px;
  color: var(--color-system--light);
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 600;
}

.inv-menu-search > .inv-input::placeholder {
  color: transparent;
}

.inv-menu-search--open > .inv-input {
  padding-left: 54px;
  box-sizing: border-box;
  width: 100%;
}

.inv-menu-search--open > .inv-input::placeholder {
  color: var(--color-system--regular);
}

.inv-menu-search > .inv-input:focus {
  color: var(--color-system--dark);
  background-color: var(--color-system--white);
  box-shadow: var(--shadow-border-2) var(--color-primary--regular) inset;
}
