
.inv-menu-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inv-menu-search-label {
  color: var(--color-system--regular);
  font-size: 10px;
  font-weight: var(--font-section-headers--weight);
  margin-top: 2px;
  margin-bottom: 12px;
}

.inv-menu-search > .inv-input-icon {
  position: absolute;
  color: var(--color-primary--light);
}

.inv-menu-search > .inv-input {
  position: relative;
  width: var(--space-56);
  height: var(--space-40);
  border: none;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(232, 234, 236, 0.4);
  font-weight: var(--font-section-headers--weight);
}

.inv-menu-search--open {
  align-items: flex-start;
  margin-bottom: 29px;
}

.inv-menu-search--open > .inv-input {
  width: 164px;
  height: var(--space-40);
  padding-left: var(--space-48);
}

.inv-menu-search--open > .inv-input-icon {
  margin-left: 16px;
}