.inv-menu__container {
  display: none;
  background: var(--color-system--dark);
  flex-direction: column;
  height: 100%;
  padding-top: var(--space-16);
  box-sizing: border-box;
  overflow-x: hidden;
}

.inv-menu--visible > .inv-menu__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-index-1);
  display: flex;
}

.inv-menu-header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "a b c";
  padding-left: var(--space-8);
  padding-right: var(--space-8);
  min-height: 40px;
  max-height: 40px;
}

.inv-menu-btn {
  background-color: var(--color-system--dark);
  border: none;
  cursor: pointer;
  outline: 0;
  width: 40px;
  height: 40px;
}

.inv-menu-btn--expand {
  border-radius: 0 0 6px 0;
  width: 56px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-index-1);
  display: flex;
}

.inv-menu-btn > i {
  font-size: 40px;
  color: var(--color-system--white);
  transition: color 0.1s;
}

.inv-menu-btn:hover > i {
  color: var(--color-default--regular);
}

.inv-menu-btn:active > i {
  color: var(--color-default--dark);
}

.inv-menu-logo {
  position: absolute;
  grid-area: b;
  justify-self: center;
  min-height: inherit;
  max-height: inherit;
  transition: opacity 0.1s;
  visibility: visible;
  opacity: 1;
}

.inv-menu-logo--small {
  visibility: hidden;
  opacity: 0;
}

.inv-menu__search {
  display: flex;
  align-items: center;
  min-height: 40px;
  max-height: 40px;
  border-radius: 10px;
  box-sizing: border-box;
  font-weight: 600;
  color: var(--color-system--regular);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  user-select: none;
  margin-top: var(--space-32);
  margin-left: var(--space-8);
  margin-right: var(--space-8);
}

.inv-menu__search > i {
  padding-left: 16px;
  padding-right: 16px;
  color: var(--color-primary--light);
}

.inv-menu__search-tip {
  visibility: hidden;
  margin-bottom: 12px;
}

.inv-menu__user {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #1a2f50;
  height: 62px;
  width: 236px;
  min-height: 62px;
  max-height: 62px;
  color: var(--color-system--white);
  font-size: 14px;
  font-weight: 600;
  position: fixed;
  bottom: 0;
}

.inv-menu__user > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 16px;
  text-decoration: none;
}

.inv-menu__user > span {
  padding-left: 8px;
  max-width: calc(100% - 40px);
  word-wrap: break-word;
  text-decoration: none;
  margin-right: 16px;
  max-height: 34px;
  overflow: hidden;
}

.inv-menu__user:hover {
  background-color: rgba(232, 234, 236, 0.2);
  color: var(--color-system--white);
  text-decoration: none;
}

.inv-menu__user:active {
  background-color: rgba(232, 234, 236, 0.1);
  color: var(--color-system--white);
}

@media (min-width: 500px) {
  .inv-menu {
    height: 100%;
  }

  .inv-menu > .inv-menu-btn--expand {
    display: none;
  }

  .inv-menu__container {
    display: flex;
    max-width: 72px;
    height: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-index-1);
  }

  .inv-menu-header {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }

  .inv-menu-header > .inv-menu-btn {
    display: none;
  }

  .inv-menu-logo--small {
    visibility: visible;
    opacity: 1;
  }

  .inv-menu-logo--large {
    visibility: hidden;
    opacity: 0;
  }

  .inv-menu__search > span {
    display: none;
  }

  .inv-menu__search-tip {
    visibility: visible;
    text-align: center;
    font-weight: 600;
    font-size: 10px;
    color: var(--color-system--regular);
    line-height: 14px;
    outline: 0;
    user-select: none;
  }

  .inv-menu__user {
    cursor: default;
    pointer-events: none;
  }

  .inv-menu__user > span {
    display: none;
    padding-left: unset;
  }

  .inv-menu__container:hover,
  .inv-menu__container--open {
    max-width: 236px;
  }

  .inv-menu__container:hover > .inv-menu-header > .inv-menu-logo--small,
  .inv-menu__container--open > .inv-menu-header > .inv-menu-logo--small {
    visibility: hidden;
    opacity: 0;
  }

  .inv-menu__container:hover > .inv-menu-header > .inv-menu-logo--large,
  .inv-menu__container--open > .inv-menu-header > .inv-menu-logo--large {
    visibility: visible;
    opacity: 1;
  }

  .inv-menu__container:hover > .inv-menu__search > span,
  .inv-menu__container--open > .inv-menu__search > span {
    display: block;
  }

  .inv-menu__container:hover > .inv-menu__search-tip,
  .inv-menu__container--open > .inv-menu__search-tip {
    visibility: hidden;
  }

  .inv-menu__container:hover > .inv-menu__user,
  .inv-menu__container--open > .inv-menu__user {
    justify-content: flex-start;
    cursor: pointer;
    pointer-events: initial;
  }

  .inv-menu__container:hover > .inv-menu__user > span,
  .inv-menu__container--open > .inv-menu__user > span {
    display: block;
    padding-left: 8px;
  }
}
