.inv-menu__container {
  display: none;
  background: var(--color-system--dark) linear-gradient(170.25deg, var(--color-system--dark) 0%, #0c101c 99.94%);
  flex-direction: column;
  height: 100%;
  padding-top: var(--space-16);
  box-sizing: border-box;
}

.inv-menu--visible > .inv-menu__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-index-1);
  display: flex;
}

.inv-menu__search {
  margin-top: var(--space-32);
  margin-bottom: 12px;
  padding-left: var(--space-8);
  padding-right: var(--space-8);
}

.inv-menu__search-tip {
  display: none;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  color: var(--color-system--regular);
  line-height: 14px;
  outline: 0;
  user-select: none;
}

.inv-menu__list {
  flex: 1;
  overflow: auto;
}

.inv-menu-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: var(--space-8);
  padding-right: var(--space-8);
}

.inv-menu__user {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: #1a2f50;
  height: 62px;
  min-height: 62px;
  max-height: 62px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--color-system--white);
  font-size: 14px;
  font-weight: 600;
}

.inv-menu__user > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.inv-menu__user > span {
  padding-left: 8px;
  max-width: calc(100% - 40px);
  word-wrap: break-word;
}

.inv-menu__user:active {
  background-color: rgba(232, 234, 236, 0.1);
}

@media (min-width: 500px) {
  .inv-menu {
    height: 100%;
  }

  .inv-menu > .inv-menu-expand-button {
    display: none;
  }

  .inv-menu__container {
    display: flex;
    max-width: 72px;
    height: auto;
    height: 100%;
  }

  .inv-menu__container--open {
    max-width: 236px;
  }

  .inv-menu-header {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }

  .inv-menu-header > picture {
    text-align: center;
  }

  .inv-menu-header > .inv-menu-collapse-button {
    display: none;
  }

  .inv-menu__search {
    align-self: center;
  }

  .inv-menu__search-tip {
    display: block;
  }

  .inv-menu__user {
    justify-content: center;
    padding-left: unset;
    padding-right: unset;
    cursor: default;
  }
  
  .inv-menu__user > span {
    display: none;
    padding-left: unset;
  }

  .inv-menu__user:active {
    background-color: #1a2f50;
  }

  .inv-menu__container--open > .inv-menu__user {
    justify-content: flex-start;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
  }

  .inv-menu__container--open > .inv-menu__user > span {
    display: block;
    padding-left: 8px;
  }

  .inv-menu__container--open > .inv-menu__user:hover {
    background-color: rgba(232, 234, 236, 0.2);
  }

  .inv-menu__container--open > .inv-menu__user:active {
    background-color: rgba(232, 234, 236, 0.1);
  }

  .inv-menu__container--open > .inv-menu__search {
    margin-bottom: var(--space-16);
  }

  .inv-menu__container--open > .inv-menu__list {
    flex: 1;
    overflow: auto;
  }

  .inv-menu__container--open > .inv-menu__search > .inv-menu__search-tip {
    display: none;
  }
}
