<div class="inv-menu {{ ternary menu.open "inv-menu--open" "" }}">
  <div class="inv-menu__content">

    {{#if menu.logo}}
      <img
        class="inv-menu__logo {{ ternary menu.open "inv-menu__logo--open" "" }}"
        src="{{ ternary menu.open "/assets/images/logo_full.png" "/assets/images/logo.png" }}"
        alt="Logo"
      />
    {{/if}}

    {{#if menu.search}}
      {{> @form-field}}
    {{/if}}
  </div>
</div>
