.inv-menu-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding-left: var(--space-8);
  padding-right: var(--space-8);
}

.inv-menu-list__item {
  min-height: 44px;
  max-height: 44px;
  border-radius: 4px;
  transition: background-color 0.1s;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-left: var(--space-16);
  padding-right: var(--space-16);
  cursor: pointer;
  text-decoration: none;
  color: var(--color-system--white);
  font-weight: 600;
  font-size: 14px;
}

.inv-menu-list__item:hover {
  background-color: rgba(232, 234, 236, 0.2);
}

.inv-menu-list__item:active {
  background-color: rgba(232, 234, 236, 0.1);
}

.inv-menu-list__item > i {
  font-size: 24px;
  color: var(--color-system--regular);
  padding-right: var(--space-16);
}

@media (min-width: 500px) {
  .inv-menu-list {
    overflow: hidden;
  }

  .inv-menu-list--open {
    overflow: auto;
  }

  .inv-menu-list__item {
    color: transparent;
  }

  .inv-menu__container:hover > .inv-menu-list > .inv-menu-list__item,
  .inv-menu-list--open > .inv-menu-list__item {
    color: var(--color-system--white);
  }
}
