.inv-menu {
  min-width: 72px;
  width: 72px;
  height: 100%;
  background-color: var(--color-system--dark);
  border-radius: 0 10px 10px 0;
}

.inv-menu--open {
  width: 236px;
  min-width: 236px;
}

.inv-menu__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inv-menu__logo {
  height: var(--space-32);
  width: var(--space-40);
  margin-top: var(--space-16);
  margin-bottom: var(--space-32);
}

.inv-menu__logo--open {
  height: 36px;
  width: auto;
}

.inv-menu__search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inv-menu__search > .inv-input-icon {
  position: absolute;
  color: var(--color-primary--light);
}

.inv-menu__search > .inv-input {
  position: relative;
  width: var(--space-56);
  height: var(--space-40);
  border: none;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(232, 234, 236, 0.4);
  font-weight: var(--font-section-headers--weight);
}

.inv-menu__search--open {
  align-items: flex-start;
}

.inv-menu__search--open > .inv-input {
  width: 164px;
  height: var(--space-40);
  padding-left: var(--space-48);
}

.inv-menu__search--open > .inv-input-icon {
  margin-left: 16px;
}
