<div class="inv-menu {{ ternary menu.open "inv-menu--open" "" }}">
  <div class="inv-menu__content">

    {{> @menu-logo}}

    <div class="inv-menu__list {{ ternary menu.open "inv-menu__list--open" "" }}">
      {{#if menu.search}}
        {{> @form-field}}
        {{> @label}}
      {{/if}}
      {{#each menu.list}}
        <a href="#" class="inv-text-link inv-menu__list-item">
          <i class="material-icons">{{ this.item.value }}</i>
          {{ this.item.title }}
        </a>
      {{/each}}
    </div>

    {{> @menu-logo-brand}}
  </div>
</div>
