.inv-menu {
  min-width: 72px;
  width: 72px;
  height: 100%;
}

.inv-menu,
.inv-menu__content {
  position: relative;
  display: flex;
  flex: 1;
  border-radius: 0 10px 10px 0;
}

.inv-menu__content {
  background-color: var(--color-system--dark);
}

.inv-menu__content--open {
  width: 236px;
  min-width: 236px;
}

.inv-menu__content--open > .inv-input {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
