.inv-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 72px;
  width: 72px;
  height: 100%;
  background-color: var(--color-system--dark);
  border-radius: 0 10px 10px 0;
}

.inv-menu--open {
  width: 236px;
  min-width: 236px;
}

.inv-menu__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--space-32);
}

.inv-menu__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inv-menu__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.inv-menu__list {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: left;
}

.inv-menu__list--open {
  align-items: flex-start;
}

.inv-menu__list-item {
  display: flex;
  height: 44px;
  align-items: center;
  width: 100%;
}

.inv-menu__list-item:hover {
  border-radius: 4px;
  background-color: rgba(232, 234, 236, 0.2);
}

.inv-menu__list-item--open {
  color: var(--color-system--regular);
  padding-left: var(--space-24);
  display: flex;
  align-items: center;
}

.inv-menu__list-item--open > span {
  color: var(--color-system--white);
  padding-left: var(--space-16);
  font-weight: var(--font-content--weight);
}