.inv-tip {
  position: relative;
  max-width: 320px;
  background-color: var(--color-system--dark);
  padding: 16px;
  border-radius: 12px;
}

.inv-tip > span {
  color: var(--color-system--white);
  font-size: 14px;
}

.inv-tip.inv-tip-triangle-right::after {
  content: ' ';
  position: absolute;
  width: 16px;
  height: 24px;
  top: -8px;
  right: 24px;
  left: auto;
  bottom: auto;
  background: var(--color-system--dark);
  transform: rotate(45deg);
}

.inv-tip.inv-tip-triangle-left::before {
  content: ' ';
  position: absolute;
  width: 16px;
  height: 24px;
  top: -8px;
  right: auto;
  left: 24px;
  bottom: auto;
  background: var(--color-system--dark);
  transform: rotate(45deg);
}
