<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="{{ path '/assets/css/index.css' }}">
    <link rel="stylesheet" href="{{ path '/custom-theme/index.css' }}">
    <title>Violin.css | {{ _target.label }}</title>
    <style>
      html,
      body,
      .container {
        height: 100%;
      }
    </style>
</head>
<body>
  <div class="container">
    {{{ yield }}}
  </div>
</body>
</html>
