<div class="fra-container">
  <div class="inv-list">
    <a href="#" class="inv-list__item">
      <span>#Opção 1</span>
    </a>
    <a href="#" class="inv-list__item">
      <span>#Opção 2</span>
    </a>
    <a href="#" class="inv-list__item">
      <span>#Opção 3</span>
    </a>
    <a href="#" class="inv-list__item">
      <span>#Opção 4</span>
    </a>
    <a href="#" class="inv-list__item">
      <span>#Opção 5</span>
    </a>
    <a href="#" class="inv-list__item">
      <span>#Opção 6</span>
    </a>
    <a href="#" class="inv-list__item">
      <span>#Opção 7</span>
    </a>
    <a href="#" class="inv-list__item">
      <span>#Opção 8</span>
    </a>
  </div>
</div>

<div class="fra-container">
  <div class="inv-list">
    <label for="selecionarTodos" class="inv-list__item inv-list__item--addon inv-list__item--check-all">
      <input id="selecionarTodos" type="checkbox" class="inv-checkbox" />
      <span>Selecionar todos </span>
    </label>
    <label for="1" class="inv-list__item inv-list__item--addon">
      <input id="1" type="checkbox" class="inv-checkbox" />
      <span>
        #13129 FILIAL - ANGELONI CAPOEIRAS - FLORIANOPOLIS - PONTO DE VENDA DO SUCO DE LARANJA
      </span>
    </label>
    <label for="2" class="inv-list__item inv-list__item--addon">
      <input id="2" type="checkbox" class="inv-checkbox" />
      <span>#Opção 2</span>
    </label>
    <label for="3" class="inv-list__item inv-list__item--addon">
      <input id="3" type="checkbox" class="inv-checkbox" />
      <span>#Opção 3</span>
    </label>
    <label for="4" class="inv-list__item inv-list__item--addon">
      <input id="4" type="checkbox" class="inv-checkbox" />
      <span>#Opção 4</span>
    </label>
    <label for="5" class="inv-list__item inv-list__item--addon">
      <input id="5" type="checkbox" class="inv-checkbox" />
      <span>#Opção 5</span>
    </label>
    <label for="6" class="inv-list__item inv-list__item--addon">
      <input id="6" type="checkbox" class="inv-checkbox" />
      <span>#Opção 6</span>
    </label>
    <label for="7" class="inv-list__item inv-list__item--addon">
      <input id="7" type="checkbox" class="inv-checkbox" />
      <span>#Opção 7</span>
    </label>
    <label for="8" class="inv-list__item inv-list__item--addon">
      <input id="8" type="checkbox" class="inv-checkbox" />
      <span>#Opção 8</span>
    </label>
  </div>
</div>
