<div class="inv-list">
  {{#if multiselect}}
    <label class="inv-list__item inv-list__item--addon inv-list__item--check-all">
      {{> @checkbox}}
      <span>Selecionar todos </span>
    </label>
  {{/if}}

  {{#each list as |title|}}
    {{#if ../multiselect}}
      <label class="inv-list__item inv-list__item--addon">
        {{> @checkbox}}
        <span>{{ title }}</span>
      </label>
    {{else}}
      <a href="#" class="inv-list__item">
        <span>{{ title }}</span>
      </a>
    {{/if}}
  {{/each}}
</div>
