.inv-tabs {
  display: flex;
  flex-direction: column;
  max-width: 184px;
  margin: 0;
  padding: 0;
}

.inv-tab {
  border-left: 3px solid var(--color-system--light);
  box-sizing: border-box;
  padding: 5px 8px 5px 16px;
  min-height: 30px;
  display: flex;
  align-items: center;
}

.inv-tab--active {
  color: var(--color-primary--regular);
  border-left: 6px solid var(--color-primary--regular);
  padding-left: 12px;
}

.inv-tab--active > .inv-tab__link {
  color: var(--color-primary--regular);
}

.inv-tab--active > .inv-tab__link > .inv-tab__number {
  background-color: var(--color-primary--regular);
}

.inv-tab__link {
  display: flex;
  align-items: center;
  color: var(--color-system--regular);
  font-size: var(--font-content--size);
  font-weight: bold;
  text-decoration: none;
}

.inv-tab__icon {
  padding-right: 4px;
}

.inv-tab__icon--only {
  padding-right: 0;
}

.inv-tab__number {
  min-height: 18px;
  min-width: 18px;
  border-radius: 3px;
  background-color: var(--color-system--regular);
  color: var(--color-system--white);
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inv-tabs--horizontal {
  flex-direction: row;
  max-width: unset;
}

.inv-tabs--horizontal > .inv-tab {
  border-left: unset;
  border-bottom: 3px solid var(--color-system--light);
  min-height: 48px;
  padding: 15px 8px 11px 8px;
}

.inv-tabs--horizontal > .inv-tab--active {
  border-bottom: 6px solid var(--color-primary--regular);
  padding-bottom: 8px;
}

.inv-tabs--fill > .inv-tab {
  width: 100%;
  justify-content: center;
}

.inv-tab--fixed {
  max-width: 41px;
}

.inv-tab--section-divider {
  border-left: unset;
  min-height: 16px;
  height: 16px;
}
