.inv-menu-collapse-button {
  background-color: var(--color-system--dark);
  border: none;
  color: var(--color-system--white);
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  min-width: 72px;
  min-height: 72px;
  padding-left: 20px;
  outline: 0;
}

.inv-menu-collapse-button > i {
  font-size: 40px;
}

.inv-menu-collapse-button--visible {
  display: flex;
}

@media (max-width: 499px) {
  .inv-menu-collapse-button {
    display: flex;
  }
}
