<div class="inv-input-addon {{ternary disabled "inv-input-addon--disabled" "" }}">
  <div class="inv-input-addon__prepend">
    {{> @checkbox}}
  </div>

  <div class="inv-input-addon__input {{ inputAddon.modifier }}">
    {{> @input}}

    {{#if icon}}
      {{> @input-icon}}
    {{/if}}
  </div>

  {{> @clear-input}}
</div>
