.inv-warning {
  text-align: center;
  background-color: var(--color-default--white);
  color: var(--color-default--dark);
  box-shadow: var(--shadow-border-1) var(--color-default--regular) inset;
  font-size: 14px;
  padding: 10px 8px;
  line-height: normal;
  border-radius: 6px;
}

.inv-warning--success {
  box-shadow: var(--shadow-border-1) var(--color-done--regular) inset;
  background-color: var(--color-done--white);
  color: var(--color-done--dark);
}

.inv-warning--error {
  box-shadow: var(--shadow-border-1) var(--color-error--regular) inset;
  background-color: var(--color-error--white);
  color: var(--color-error--dark);
}
