.inv-menu-list {
  display: flex;
  flex-direction: column;
}

.inv-menu-list_item,
.inv-menu-list--open > .inv-menu-list_item {
  min-height: 44px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.1s;
  display: flex;
  align-items: center;
  padding-left: var(--space-16);
  padding-right: var(--space-16);
}

.inv-menu-list_item:hover {
  background-color: rgba(232, 234, 236, 0.2);
}

.inv-menu-list_item:active {
  background-color: rgba(232, 234, 236, 0.1);
}

.inv-menu-list_item > i {
  font-size: 24px;
  color: var(--color-system--regular);
}

.inv-menu-list_item > span {
  color: var(--color-system--white);
  font-weight: 600;
  font-size: 14px;
  padding-left: var(--space-16);
}

@media (min-width: 500px) {
  .inv-menu-list_item {
    justify-content: center;
  }

  .inv-menu-list_item > span {
    display: none;
  }
}
