.inv-menu-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding-right: var(--space-8);
}

.inv-menu-list_item,
.inv-menu-list--open > .inv-menu-list_item {
  min-height: 22px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.1s;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-left: var(--space-16);
  padding-right: var(--space-16);
  padding-top: 12px;
  padding-bottom: 12px;
}

.inv-menu-list::-webkit-scrollbar {
  width: 16px;
}

.inv-menu-list::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
}

.inv-menu-list_item:hover {
  background-color: rgba(232, 234, 236, 0.2);
}

.inv-menu-list_item:active {
  background-color: rgba(232, 234, 236, 0.1);
}

.inv-menu-list_item > i {
  font-size: 24px;
  color: var(--color-system--regular);
}

.inv-menu-list_item > span {
  color: var(--color-system--white);
  font-weight: 600;
  font-size: 14px;
  padding-left: var(--space-16);
}

@media (min-width: 500px) {
  .inv-menu-list {
    overflow: hidden;
  }

  .inv-menu-list--open {
    overflow: auto;
  }

  .inv-menu-list_item {
    justify-content: center;
  }

  .inv-menu-list::-webkit-scrollbar {
    width: 8px;
  }

  .inv-menu-list_item > span {
    display: none;
  }

  .inv-menu-list--open > .inv-menu-list_item {
    justify-content: flex-start;
  }

  .inv-menu-list--open > .inv-menu-list_item > span {
    display: block;
  }
}
