.inv-form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.inv-form-field > .inv-label {
  margin-left: 1px;
  margin-bottom: 4px;
}

.inv-form-field > .inv-form-text {
  margin-top: 4px;
  margin-left: 1px;
}

.inv-form-field--icon > .inv-input-icon {
  position: absolute;
  top: 28px;
  right: 8px;
}

.inv-form-field--icon > .inv-input {
  padding-right: 40px;
}

.inv-form-field--progress > .inv-input-progress {
  margin-top: 4px;
}

.inv-form-field--progress > .inv-form-text {
  margin-top: 2px;
}
