.inv-label {
  display: inline-block;
  color: var(--color-system--dark);
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 3px;
}

.inv-label--disabled {
  color: var(--color-default--regular);
  cursor: not-allowed;
}

.inv-label > small {
  color: var(--color-default--regular);
  font-size: 12px;
  font-style: italic;
}
