<div class="inv-menu-search-modal">
  <div class="inv-menu-search-modal__content">
    <div class="inv-menu-search-modal__search">
      <i class="material-icons">
        keyboard_arrow_left
      </i>
      <div class="inv-form-field ">

        <label for="default" class="inv-label ">
          Pesquisar
        </label>

        <input id="default" name="default" type="text" class="inv-input " placeholder="Ex: Agilito Silva" />
      </div>

    </div>
  </div>
</div>
