<div class="inv-menu-search-modal">

  <div class="inv-menu-search-modal__search">
    <a href="#">
      <i class="material-icons">keyboard_arrow_left</i>
    </a>
    {{> @form-field}}
  </div>

  <div class="inv-menu-search-modal__content">
    {{#each menu-search-modal.list}}
      <a href="#">
        <div class="inv-menu-search-modal__item">
          {{#each this.item}} <span>{{this}}</span> {{/each}}
        </div>
      </a>
    {{/each}}
  </div>
</div>
