.inv-menu-search-modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--color-system--white);
  padding-right: 24px;
  padding-left: 16px;
}

.inv-menu-search-modal__search {
  padding-top: 16px;
  padding-left: 32px;
  padding-bottom: 24px;
}

.inv-menu-search-modal__search > a {
  position: absolute;
  top: 46px;
  left: 0;
  text-decoration: none;
  color: var(--color-default--regular);
}

.inv-menu-search-modal__item span {
  color: var(--color-system--regular);
  text-decoration: none;
}

.inv-menu-search-modal__content > a {
  text-decoration: none;
  font-size: var(--font-content--size);
}

.inv-menu-search-modal__search > a:active {
  color: var(--color-default--dark);
}

.inv-menu-search-modal__content {
  overflow-y: auto;
  margin-bottom: 53px;
}

.inv-menu-search-modal__item {
  transition: background-color 0.1s;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}

.inv-menu-search-modal__item:active {
  background-color: var(--color-system--light);
}

.inv-menu-search-modal__item > span:last-child {
  color: var(--color-system--dark);
  cursor: default;
  pointer-events: none;
}

.inv-menu-search-modal__item > span::after {
  color: var(--color-default--dark);
  content: "\0002f";
  margin-left: 6px;
}

.inv-menu-search-modal__item > span:last-child::after {
  content: '';
}

.inv-divider {
  display: none;
}

.inv-menu-search-modal__footer {
  display: none;
}

.inv-menu-search-modal__search > .inv-form-field > .inv-input-icon {
  position: absolute;
  top: 32px;
  right: 8px;
}

@media (min-width: 600px) {
  .inv-menu-search-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 40;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0);
    background-color: var(--color-system--shadow);
  }

  .inv-menu-search-modal--active {
    display: flex;
  }

  .inv-menu-search-modal__container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-system--white);
    width: 508px;
    height: 301px;
    box-shadow: var(--shadow-16) var(--color-system--shadow);
    border-radius: 8px;
    padding-right: 16px;
    padding-left: 16px;
    position: relative;
  }

  .inv-menu-search-modal__search {
    padding-top: 8px;
    padding-left: 0;
    padding-bottom: 0;
  }

  .inv-menu-search-modal__search > a {
    display: none;
  }

  .inv-menu-search-modal__item:hover {
    background-color: var(--color-default--white);
  }

  .inv-menu-search-modal__item:active {
    background-color: var(--color-system--light);
  }

  .inv-menu-search-modal__footer {
    border-top: 1px solid var(--color-system--light);
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 48px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .inv-menu-search-modal__footer > div {
    color: var(--color-system--regular);
    border-right: 1px solid var(--color-system--light);
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    height: 40px;
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inv-icon--rotate {
    transform: rotate(-45deg);
  }

  .inv-menu-search-modal__footer > div:last-child {
    border-right: unset;
  }
}
