.inv-menu-search-modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--color-system--white);
  padding-right: 24px;
  padding-left: 16px;
}

.inv-menu-search-modal__search {
  padding-top: 16px;
  padding-left: 32px;
  padding-bottom: 24px;
}

.inv-menu-search-modal__search > a {
  position: absolute;
  top: 46px;
  left: 0;
  text-decoration: none;
  color: var(--color-default--regular);
}

.inv-menu-search-modal__item span {
  color: var(--color-system--regular);
  text-decoration: none;
}

.inv-menu-search-modal__content > a {
  text-decoration: none;
  font-size: var(--font-content--size);
}

.inv-menu-search-modal__search > a:active {
  color: var(--color-default--dark);
}

.inv-menu-search-modal__content {
  overflow-y: auto;
  margin-bottom: 53px;
}

.inv-menu-search-modal__item {
  transition: background-color 0.1s;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
}

.inv-menu-search-modal__item:active {
  background-color: var(--color-system--light);
}

.inv-menu-search-modal__item > span:last-child {
  color: var(--color-system--dark);
  cursor: default;
  pointer-events: none;
}

.inv-menu-search-modal__item > span::after {
  color: var(--color-default--dark);
  content: "\0002f";
  margin-left: 6px;
}

.inv-menu-search-modal__item > span:last-child::after {
  content: '';
}

/* .inv-menu-search-modal__item a + a::before {
  color: var(--color-default--dark);
  content: "\0002f";
  margin-left: 6px;
  margin-right: 6px;
} */

/* .inv-menu-search-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 40;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0);
  background-color: var(--color-system--shadow);
}

.inv-menu-search-modal--active {
  display: flex;
}

.inv-menu-search-modal__content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 200px;
} */
