<div class="inv-menu-search-modal">

  <div class="inv-menu-search-modal__search">
    <a href="#">
      <i class="material-icons">keyboard_arrow_left</i>
    </a>
    <div class="inv-form-field">
      <label for="default" class="inv-label">Pesquisar</label>
      <input id="default" name="default" type="text" class="inv-input " placeholder="Ex: Agilito Silva" />
    </div>
  </div>

  <div class="inv-menu-search-modal__content">
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">Colaboradores</a>
      <a href="#void">Afastamentos</a>
      <a href="#void">Novo afastamento</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
    <div class="inv-menu-search-modal__item">
      <a href="#void">PDV</a>
      <a href="#void">Novo ponto de venda</a>
    </div>
  </div>
</div>
