<div class="fra-container">
  <input type="checkbox" class="inv-checkbox" />
  <input type="checkbox" class="inv-checkbox" disabled="disabled" />
  <input type="checkbox" class="inv-checkbox" checked="checked" disabled="disabled" />
</div>
