.inv-input-file__container {
  display: flex;
  flex-direction: column;
}

.inv-input-file {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 293px;
  max-width: 293px;
}

.inv-input-file__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 252px;
  max-width: 252px;
  border: none;
  border-radius: 3px 0 0 3px;
  color: var(--color-system--regular);
  background-color: var(--color-system--light);
  font-size: 14px;
  padding-left: 16px;
  padding-right: 8px;
}

.inv-input-file__btn--disabled {
  color: var(--color-default--regular);
  background-color: var(--color-default--white);
}

.inv-input-file__btn--required {
  color: var(--color-default--regular);
  background-color: var(--color-error--white);
  box-shadow: var(--shadow-border-2) var(--color-error--regular) inset;
}

.inv-input-file__btn--error {
  color: var(--color-system--dark);
  background-color: var(--color-error--white);
  box-shadow: var(--shadow-border-2) var(--color-error--regular) inset;
}

.inv-input-file input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.inv-input-file > .inv-clear-input {
  position: absolute;
  top: 0;
  right: 0;
}

.inv-input-file__btn--disabled > .inv-input-icon {
  color: var(--color-default--light);
}
