.inv-input-file > input[type='file'] {
  display: none;
}

.inv-input-file {
  min-height: 40px;
  max-width: 252px;
  display: flex;
  color: var(--color-default--regular);
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

.inv-input-file--selected {
  color: var(--color-system--dark);
}

.inv-input-file--disabled {
  cursor: not-allowed;
}

.inv-input-file-icon {
  position: absolute;
  right: 0;
  padding-right: 8px;
  color: var(--color-system--regular);
}

.inv-input-file-icon--disabled {
  color: var(--color-default--light);
}

.inv-input-file__text {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--color-system--light);
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: none;
  outline: none;
  min-height: 40px;
  min-width: 252px;
  padding-left: 16px;
  padding-right: 32px;
  transition: background-color 0.1s ease-in-out;
}

.inv-input-file__text > span {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inv-input-file > .inv-input-file__text:active,
.inv-input-file__text--active {
  background-color: var(--color-default--light);
}

.inv-input-file__text--disabled {
  background-color: var(--color-default--white);
  pointer-events: none;
}

.inv-input-file__text--error {
  background-color: var(--color-error--white);
  -webkit-appearance: none;
  -webkit-box-shadow: var(--shadow-border-2) var(--color-error--regular) inset;
  box-shadow: var(--shadow-border-2) var(--color-error--regular) inset;
}
