.inv-tip {
  position: relative;
  color: var(--color-primary--regular);
}

i.material-icons.inv-tip::before {
  display: block;
  position: absolute;
  content: attr(data-tooltip);
  font-family: var(--font-family);
  font-size: 14px;
  white-space: pre-wrap;
  line-height: 19px;
  color: var(--color-system--white);
  background-color: var(--color-system--dark);
  border-radius: 12px;
  box-shadow: var(--shadow-16) var(--color-default--shadow);
  max-width: 320px;
  padding: 16px;
  top: 35px;
  left: -24px;
  z-index: var(--z-index-2);
}

i.material-icons.inv-tip::after {
  content: '';
  position: absolute;
  border-left: solid 12px transparent;
  border-right: solid 12px transparent;
  border-top: solid 12px transparent;
  border-bottom: solid 12px var(--color-system--dark);
  top: 12px;
  left: 0;
}
