.inv-addon {
  background-color: var(--color-system--white);
  box-shadow: 0 0 0 1px var(--color-system--light) inset;
  border-radius: 4px 0 0 4px;
  height: 100%;
  min-height: 40px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding-left: var(--space-4);
  padding-right: var(--space-4);
  margin-right: 1px;
}

.inv-addon--disabled {
  background-color: var(--color-default--white);
  box-shadow: none;
  cursor: not-allowed;
}
