.inv-menu-expand-button {
  background-color: var(--color-system--dark);
  border: none;
  border-radius: 0 0 6px 0;
  cursor: pointer;
  width: 56px;
  height: 56px;
  outline: 0;
}

.inv-menu-expand-button > i {
  font-size: 40px;
  color: var(--color-system--white);
  transition: color 0.1s;
}

.inv-menu-expand-button:hover > i {
  color: var(--color-default--regular);
}

.inv-menu-expand-button:active > i {
  color: var(--color-default--dark);
}
