.inv-input-addon {
  display: flex;
  align-items: stretch;
}

.inv-input-addon__prepend {
  background-color: var(--color-system--white);
  box-shadow: var(--shadow-border-1) var(--color-system--light) inset;
  border-radius: 4px 0 0 4px;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  margin-right: 1px;
}

.inv-input-addon--disabled > .inv-input-addon__prepend {
  background-color: var(--color-default--white);
  box-shadow: none;
  cursor: not-allowed;
}

.inv-input-addon__input {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.inv-input-addon__input--icon > .inv-input {
  padding-right: 32px;
}

.inv-input-addon__input:not(:last-child) > .inv-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.inv-input-addon__input:not(:first-child) > .inv-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.inv-input-addon__input > .inv-input-icon {
  position: absolute;
  top: 8px;
  right: 8px;
}
